@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root{
        --grey: #757C93;
        --navy: #191D32;
        --green: #DDE8B9;
        --salmon: #FF6663;
        
    }
}